body {
	font-family: Arial, Helvetica, sans-serif;
}

.input-text-with-label.calendar {
	display: flex;
	flex-direction: column;
	width: 350px;
	position: relative;
}

.input-text-with-label.calendar label {
	font-size: 16px;
	margin-bottom: 5px;
}

.input-text-with-label.calendar input {
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	width: 350px;
}

.input-text-with-label.calendar .cal-header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}

.input-text-with-label.calendar .cal-container {
	background-color: #f5f5f5;
	align-items: center;
	position: absolute;
	margin-top: 63px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

.input-text-with-label.calendar .cal-container.years {
	display: flex;
}

.input-text-with-label.calendar .cal-years,
.input-text-with-label.calendar .cal-months,
.input-text-with-label.calendar .cal-days {
	display: flex;
	flex-wrap: wrap;
	margin-left: 8px;
	margin-right: 8px;
	row-gap: 8px;
	padding-bottom: 15px;
}

.input-text-with-label.calendar .cal-months,
.input-text-with-label.calendar .cal-years {
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

.input-text-with-label.calendar .cal-month-parent {
	width: calc(100% / 4);
	display: flex;
	justify-content: center;
	row-gap: 10px;
}

.input-text-with-label.calendar .cal-year,
.input-text-with-label.calendar .cal-month {
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
	padding: 15px;
	cursor: pointer;
	width: 50%;
	text-align: center ;
	font-weight: bold;
}

.input-text-with-label.calendar .cal-year-parent {
	width: calc(100% / 3);
	display: flex;
	justify-content: center;
}

.input-text-with-label.calendar .cal-day {
	width: calc(100% / 7);
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin-bottom: 5px;
}

.input-text-with-label.calendar .cal-day.sunday {
	color:red;
}

.input-text-with-label.calendar .cal-day-number-parent {
	width: calc(100% / 7);
	display: flex;
	justify-content: center;
}

.input-text-with-label.calendar .cal-day-number {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-weight: 500;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}

.input-text-with-label.calendar .cal-day-number {
	background-color: orange;
}

.input-text-with-label.calendar .cal-day-number.clickable {
	cursor: pointer;
	background-color: white;
}



.input-text-with-label.calendar .cal-year.active,
.input-text-with-label.calendar .cal-month.active,
.input-text-with-label.calendar .cal-day-number.active {
	background-color: #FF00FF;
	color: #f5f5f5;
	font-weight: bold;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
}

.input-text-with-label.calendar .cal-year.blocked,
.input-text-with-label.calendar .cal-month.blocked,
.input-text-with-label.calendar .cal-day-number.blocked {
	background-color: lightgray;
	color: white;
}

.input-text-with-label.calendar .cal-year.blank,
.input-text-with-label.calendar .cal-month.blank,
.input-text-with-label.calendar .cal-day-number.blank {
	background: inherit;
	box-shadow: none;
}

.input-text-with-label.calendar .cal-year-container-arrow-left,
.input-text-with-label.calendar .cal-year-container-arrow-right,
.input-text-with-label.calendar .cal-arrow-left,
.input-text-with-label.calendar .cal-arrow-right {
 	background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
	background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
	width: 26px;
	height: 26px;
	background-color: white;
	border-radius: 50px;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
  transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-right: 10px;
	flex-shrink: 0;
}

.input-text-with-label.calendar .cal-year-container-arrow-left,
.input-text-with-label.calendar .cal-arrow-left {
	background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
	margin-right: 0;
	margin-left: 10px;
}


.input-text-with-label.calendar .cal-current-date {
	display: flex;
	gap: 8px;
	align-items: baseline;
}

.input-text-with-label.calendar .cal-current-date .cal-current-date-month,
.input-text-with-label.calendar .cal-current-date .cal-current-date-year {
	background: white;
  padding: 5px;
  border-radius: 10px;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
	cursor: pointer;
	font-weight: bold;
}

.input-text-with-label.calendar .cal-current-date .cal-current-date-day {
	font-weight: 900;
}


.input-text-with-label.calendar .cal-day-number.clickable:hover,
.input-text-with-label.calendar .cal-current-date .cal-current-date-month:hover,
.input-text-with-label.calendar .cal-current-date .cal-current-date-year:hover,
.input-text-with-label.calendar .cal-year-container-arrow-left:hover,
.input-text-with-label.calendar .cal-year-container-arrow-right:hover,
.input-text-with-label.calendar .cal-arrow-left:hover,
.input-text-with-label.calendar .cal-arrow-right:hover,
.input-text-with-label.calendar .cal-year:hover,
.input-text-with-label.calendar .cal-month:hover {
	box-shadow: 1px 1px 8px rgb(0 0 0 / 40%);
}

.input-text-with-label.calendar .cal-day-number,
.input-text-with-label.calendar .cal-current-date .cal-current-date-month,
.input-text-with-label.calendar .cal-current-date .cal-current-date-year,
.input-text-with-label.calendar .cal-year-container-arrow-left,
.input-text-with-label.calendar .cal-year-container-arrow-right,
.input-text-with-label.calendar .cal-arrow-left,
.input-text-with-label.calendar .cal-arrow-right,
.input-text-with-label.calendar .cal-year,
.input-text-with-label.calendar .cal-month {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}




@media only screen and (max-width: 600px) {
	.input-text-with-label.calendar input,
	.input-text-with-label.calendar {
		width: 100%;
	}
}